html, body {
  height: 100%;
  font-family: 'Lato'; }

img {
  padding: 1em; }

p {
  padding-top: 1em; }

.fa-btn {
  margin-right: 6px; }

.wrapper {
  min-height: 100%;
  margin-bottom: -60px; }

.push {
  height: 80px; }

.footer {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5; }

.row {
  font-size: 120%; }

.logo {
  padding: 0; }

.edit-symbol {
  font-size: 180%; }

.edit, .remove, .add {
  cursor: pointer; }

.aukiolo, .hinnasto {
  height: 30px;
  padding-top: 25px;
  vertical-align: text-bottom; }

.contacts {
  margin: 3em 0; }
  .contacts p {
    padding-top: 0; }

.hinnasto {
  margin-top: 0em; }
  .hinnasto .parent {
    margin-top: 2em; }

/*# sourceMappingURL=app.css.map */
